#drupal-off-canvas a.component-wrapper {
  text-decoration: none;
}

#drupal-off-canvas .inline-block-list .component-wrapper  {
  display: flex;
}

#drupal-off-canvas .inline-block-list .component-wrapper span.img {
  width: 1.2em;
}

#drupal-off-canvas .inline-block-list .component-wrapper span.title {
  flex: auto;
  align-self: center;
  padding-left: .6em;
  font-size: 100%;
}

#drupal-off-canvas .inline-block-list .component-wrapper svg {
  max-width: 100%;
  height: auto;
}

#drupal-off-canvas .inline-block-list .component-wrapper:hover {
  background: #333 ;
  text-decoration: none;
}


#drupal-off-canvas .inline-block-list li {
  display: inline-block;
  width: 50%;
}

#drupal-off-canvas .inline-block-list li:hover a,
#drupal-off-canvas .inline-block-list li:hover span,
#drupal-off-canvas .inline-block-list li:hover svg,
#drupal-off-canvas .inline-block-list li:hover {
  background: #333 ;
}
