#layout-builder-visual-tree > ul {
  width: 100%;
  max-width: 100%;
}
#layout-builder-visual-tree > ul ul {
  padding-left: .2em;
}

#layout-builder-visual-tree li {
  padding-left: .5em;
  border-left-width: 8px;
  border-style: solid;
}

#layout-builder-visual-tree li.section.active *,
#layout-builder-visual-tree li.section.active {
  background-color: rgb(131, 128, 128);
}

#layout-builder-visual-tree li span {
  margin-bottom: .3em;
}

#layout-builder-visual-tree li.section {
  border-color: yellow;
}

#layout-builder-visual-tree li.region {
  border-color: blue;
}

#layout-builder-visual-tree li.block {
  border-color: green;
}

.layout-builder-visual-tree-widget,
.layout-builder-visual-tree-widget .ui-dialog-titlebar,
.layout-builder-visual-tree-widget .ui-widget-content {
  padding: 0;
  border: 0 !important;
}

#layout-builder-visual-tree > ul {
  font-size: 90%;
}

#layout-builder-visual-tree .group-label {
  display: flex;
  /* margin-bottom: .2em;
  padding-bottom: .2em;
  border-bottom: 1px solid white; */
}

#layout-builder-visual-tree .group-label span:first-child {
  flex: auto;
}

#layout-builder-visual-tree .group-label a {
  display: inline-block;
  margin-left: .5em;
  cursor: pointer;
}

#layout-builder-visual-tree > ul > li {
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

#layout-builder-visual-tree li.region > span {
  font-weight: bold;
}

#layout-builder-visual-tree li.section > span {
  font-weight: bold;
  border-bottom: 1px dotted white;
  display: block;
  padding-bottom: .3em;
  margin-bottom: .6em;
}

#layout-builder-visual-tree ul ul ul {
  margin-left: 0;
  margin-bottom: 1em;
}

#layout-builder-visual-tree li {
  display: block;
}

#layout-builder-visual-tree li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
}

a.layout-builder-visual {
  position: fixed;
  writing-mode: vertical-lr;
  right: 0;
  top: 40%;
  padding: .5em;
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 100%;
}

.layout-builder-visual-hover {
  background-color: rgb(243, 93, 24) !important;
  outline-color: rgb(243, 93, 24) !important;
}
